head
    block head

    title= title

    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')

    //- Viewport for PDA version
    meta(name='viewport' content='target-densityDpi=device-dpi, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, width=device-width')

    //- IE edge mode
    meta(http-equiv='X-UA-Compatible' content='IE=edge')

    +link(['styles'])

    +script([])