header.header
    .wrapper
        .header__flex
            a.logo(href=href data-modal data-src="#modalUsername")
                img.logo__img(src="img/logo1.png")
            .header__exchange-rate 1 USD = <span id="usdrub">00.00</span> RUB