#modalUsername.modal
    .modal__content
        form#login
            fieldset.modal__fieldset
                input.input-text#username(type="text" placeholder="your name")
            .modal__buttons
                button.button.button_border(data-modal-close) cancel
                button.button#signin signin
